.header {
    padding: 5px 2px 30px 10px;
    display: flex;
}

.header__left {
    width: 100%;
    margin-left: 100px;
}

.header__right {
    justify-content: flex-end;
    width: 80vw;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}